@keyframes semi-slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.semi-slideInLeft {
    animation-name: semi-slideInLeft;
}
