$spacing-form_label-paddingTop: ($height-control-default - 20px) * 0.5; // 水平布局表单标题顶部内边距
$spacing-form_label_small-paddingTop: ($height-control-default - 24px) * 0.5; // 水平布局 小尺寸表单标题顶部内边距

$spacing-form_field_horizontal-paddingRight: $spacing-base; // 水平布局表单标题右侧内边距
$spacing-form_field_group_horizontal-paddingRight: $spacing-base; // 水平布局表单组标题右侧内边距

$spacing-form_field_vertical-paddingTop: $spacing-base-tight; // 垂直布局表单顶部内边距
$spacing-form_field_vertical-paddingBottom: $spacing-base-tight; // 垂直布局表单底部内边距

$spacing-form_field_group_vertical-paddingTop: $spacing-base-tight; // 垂直布局表单组顶部内边距
$spacing-form_field_group_vertical-paddingBottom: $spacing-base-tight; // 垂直布局表单组底部内边距
$spacing-form_section-marginTop: $spacing-super-loose - $spacing-base-tight; // 表单分组顶部内边距
$spacing-form_section_text-paddingBottom: $spacing-tight; // 表单分组标题底部内边距
$spacing-form_section_text-marginBottom: $spacing-extra-tight; // 表单分组标题底部外边距

$spacing-form_label-paddingRight: $spacing-base; // 表单标题右侧内边距
$spacing-form_label-marginBottom: $spacing-extra-tight; // 表单标题底部外边距
$spacing-form_label_extra-marginLeft: $spacing-extra-tight; // 表单标题图标左侧内边距
$spacing-form_label_required-marginLeft: $spacing-extra-tight; // 表单标题必填标志左侧内边距
$spacing-form_label_posLeft-marginRight: 0; // 水平布局表单标题右侧外边距
$spacing-form_label_posLeft-marginBottom: 0; // 水平布局表单标题底部外边距
$spacing-form_label_posTop-paddingTop: $spacing-extra-tight; // 垂直布局表单标题顶部内边距
$spacing-form_label_posTop-paddingBottom: $spacing-extra-tight; // 垂直布局表单标题底部内边距
$spacing-form_label_extra_posMid-marginTop: $spacing-extra-tight; // 表单额外信息辅助文字顶部外边距 - 居中
$spacing-form_label_extra_posMid-marginBottom: $spacing-extra-tight; // 表单额外信息辅助文字底部外边距 - 居中
$spacing-form_label_extra_posBottom-marginTop: $spacing-extra-tight; // 表单额外信息辅助文字顶部外边距 - 底部
$spacing-form_statusIcon-marginRight: $spacing-extra-tight;  // 表单校验图标右侧外边距

$spacing-form_message-marginTop: $spacing-extra-tight; // 表单校验信息顶部外边距

$font-form_label-fontWeight: $font-weight-bold; // 表单标题字重
$font-form_requiredMark-fontWeight: $font-weight-bold; // 表单必填标识字重

$color-form_label-text-default: var(--semi-color-text-0); // 表单标题文字颜色
$color-form_label_optional-text-default: var(--semi-color-tertiary); // 表单可选标记文字颜色
$color-form_label_extra-text-default: var(--semi-color-tertiary); // 表单额外信息辅助文字颜色

$color-form_label_disabled-text-default: var(--semi-color-disabled-text); // 禁用表单项标题文字颜色
$color-form_requiredMark-text-default: var(--semi-color-danger); // 必填标记颜色
$color-form_requiredMark_disabled-text-default: var(--semi-color-danger);  // 禁用表单项必填标记颜色
$color-form_alertIcon-icon-default: var(--semi-color-warning); // 警告表单项图标颜色
$color-form_message_error-text-default: var(--semi-color-danger); // 错误表单项图标颜色
$color-form_section-text-default: var(--semi-color-text-0); // 表单分组标题文字颜色
$color-form_section-border-default: var(--semi-color-border); // 表单分组描边颜色
$width-form_section-border: $border-thickness-control; // 表单分组描边宽度
