.recommendList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.msg {
    font-family: PingFang SC;
    margin: 12px 0 0px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    left: 16px;
    color: var(--semi-color-text-0);
}
.item-disable{
    filter: grayscale(100%);
    &:hover{
        cursor: default !important;
        background-color:rgba(0,0,0,0) !important;
    }
}
.recommendItem {
    display: flex;
    width: 260px;
    align-items: center;
    margin: 6px 0 20px 0;
    color: var(--semi-color-text-0);
    padding: 16px;
    border-radius: 6px;
    &:hover {
        text-decoration: none;
        color: var(--semi-color-text-0);
        background-color: var(--semi-color-default);
    }
    .imgWrapper {
        box-sizing: border-box;
        max-width: 30%;
        height: 60px;
        margin-right: 16px;
    }
    .detail {
        .title {
            font-family: PingFang SC;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 7px;
        }
        .content {
            flex: 1;
            display: block;
            font-family: PingFang SC;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: var(--semi-color-disabled-text);
        }
    }
}
