$animation_duration-toast-show: 300ms;
$animation_duration-toast-hide: 300ms;
$animation_function-toast-show: cubic-bezier(.22,.57,.02,1.2);
$animation_function-toast-hide: cubic-bezier(.22,.57,.02,1.2);
$animation_delay-toast-show: 0s;
$animation_delay-toast-hide: 0s;

$animation_opacity-toast-show: 0;
$animation_opacity-toast-hide: 0;
$animation_transform_translateY-toast-show: -100%;
$animation_transform_translateY-toast-hide: -100%;

$animation_duration-toast-stack: 300ms;
$animation_function-toast-stack: cubic-bezier(.22,.57,.02,1.2)
