.d2c-feature-wrapper {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .hovered {
        transform: translateY(-10px);
    }

    .d2c-feature-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .hover {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            column-gap: 8px;

            .d2c-feature-ds-support-img {
                flex-shrink: 0;
                width: 24px;
                height: 17px;
            }

            .d2c-feature-ds-support {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                column-gap: 8px;
                border: 1px solid #72727e73;
                border-radius: 4px;
                box-shadow: 0px 4px 4px 0px #00000040;
                background: #000000e5;
                padding: 5px 23px;
                backdrop-filter: blur(50px);
                transition: transform 0.3s ease;
                margin-top: 19px;

                .code {
                    flex-shrink: 0;
                    min-width: 37px;
                    line-height: 28px;
                    letter-spacing: 0;
                    color: #ffffff;
                    font-family: 'PingFang SC';
                    font-size: 16px;
                }
            }
            .d2c-feature-dsl-support {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                transition: transform 0.3s ease;

                .dsl-wrapper {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 8px;
                    margin: 0px 0px 0px 65px;
                    border: 1px solid #72727e73;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    background: #000000e5;
                    padding: 5px 23px;
                    backdrop-filter: blur(50px);

                    .dsl-symbol {
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        padding: 0px 3px;
                        height: 22px;
                        overflow: hidden;

                        .a {
                            min-width: 16px;
                            line-height: 28px;
                            letter-spacing: 0;
                            color: #38bbc6;
                            font-family: 'PingFang SC';
                            font-size: 16px;
                        }
                    }

                    .dsl-text {
                        flex-shrink: 0;
                        min-width: 31px;
                        line-height: 28px;
                        letter-spacing: 0;
                        color: #ffffff;
                        font-family: 'PingFang SC';
                        font-size: 16px;
                    }
                }

                .d2c-feature-card-img2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 27px 0px 0px;
                    width: 231px;
                    height: 40px;

                    .dsl-dsl-vue-text {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        column-gap: 8px;
                        border: 1px solid #72727e73;
                        border-radius: 4px;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        background: #000000e5;
                        padding: 5px 23px;
                        height: 28px;
                        backdrop-filter: blur(50px);

                        .d2c-feature-dsl-support-img {
                            flex-shrink: 0;
                            width: 14px;
                            height: 12px;
                        }

                        .dsl-vue-text {
                            flex-shrink: 0;
                            min-width: 29px;
                            line-height: 28px;
                            letter-spacing: 0;
                            color: #ffffff;
                            font-family: 'PingFang SC';
                            font-size: 16px;
                        }
                    }

                    .dsl-react {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        column-gap: 8px;
                        border: 1px solid #72727e73;
                        border-radius: 4px;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        background: #000000e5;
                        padding: 5px 23px;
                        backdrop-filter: blur(50px);

                        .react {
                            flex-shrink: 0;
                            width: 18px;
                            height: 16px;
                            overflow: hidden;
                        }

                        .dsl-react-text {
                            flex-shrink: 0;
                            min-width: 44px;
                            line-height: 28px;
                            letter-spacing: 0;
                            color: #ffffff;
                            font-family: 'PingFang SC';
                            font-size: 16px;
                        }
                    }
                }
            }

            .d2c-feature-card {
                flex-basis: 0;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                border: 1px solid var(--semi-color-border);
                border-radius: 10px;
                padding: 0px 18px 32px 20px;
                overflow: hidden;
                height: 443px;
                -webkit-backdrop-filter: blur(50px);
                // background-image: linear-gradient(180deg, #47474759 0%, #4d4d4d0b 100%);
                /* backdrop-filter: blur(50px); */
                cursor: pointer;
                transform: scale(0.95);

                .d2c-feature-card-detail {
                    margin-top: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 336px;
                    flex-grow: 1;
                }

                .frame2117130798 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    align-self: stretch;
                    row-gap: 16px;
                }

                .d2c-feature-card-detail-title {
                    flex-shrink: 0;
                    align-self: stretch;
                    letter-spacing: 0;
                    color: var(--semi-color-text-0);
                    font-family: 'PingFang SC';
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                }

                .d2c-feature-card-detail-description {
                    flex-shrink: 0;
                    align-self: stretch;
                    line-height: 28px;
                    letter-spacing: 0;
                    color: var(--semi-color-text-2);
                    font-family: 'PingFang SC';
                    font-size: 18px;
                }

                .text3 {
                    flex-shrink: 0;
                    align-self: stretch;
                    line-height: 28px;
                    letter-spacing: 0;
                    color: var(--semi-color-primary);
                    font-family: 'PingFang SC';
                    font-size: 18px;
                    cursor: pointer;
                }

                .d2c-feature-card-disabled {
                    color: var(--semi-color-d2c-feature-card-detail-title-3);
                    cursor: not-allowed;
                }
                .d2c-feature-card-img {
                    position: relative;
                    margin: 0px 0px 0px 1px;
                    width: 336px;
                    height: 179px;
                    flex-shrink: 0;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .rectangle279334588 {
                        position: absolute;
                        top: 0;
                        right: -24px;
                        opacity: 0.4;
                        border: 1px solid #72727e73;
                        border-radius: 4px;
                        background: #1bc47d;
                        width: 382px;
                        height: 133px;
                        filter: blur(55px);
                    }
                }
            }

            .d2c-feature-ecosystem-support {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                transition: transform 0.3s ease;

                .frame2117130723 {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 8px;
                    border: 1px solid #72727e73;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    background: #000000e5;
                    padding: 5px 23px;
                    backdrop-filter: blur(50px);

                    .openApi {
                        flex-shrink: 0;
                        min-width: 70px;
                        line-height: 28px;
                        letter-spacing: 0;
                        color: #ffffff;
                        font-family: 'PingFang SC';
                        font-size: 16px;
                    }
                }

                .frame2117130722 {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 8px;
                    margin: 21px 0px 0px 86px;
                    border: 1px solid #72727e73;
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    background: #000000e5;
                    padding: 5px 23px;
                    backdrop-filter: blur(50px);

                    .frame2117130688 {
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                        overflow: hidden;
                    }

                    .nodeSdk {
                        flex-shrink: 0;
                        min-width: 77px;
                        line-height: 28px;
                        letter-spacing: 0;
                        color: #ffffff;
                        font-family: 'PingFang SC';
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
