@keyframes semi-fadeOutRightBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.semi-fadeOutRightBig {
    animation-name: semi-fadeOutRightBig;
}
