@keyframes semi-fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.semi-fadeOutLeft {
    animation-name: semi-fadeOutLeft;
}
