@keyframes semi-fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.semi-fadeOutUp {
    animation-name: semi-fadeOutUp;
}
