@keyframes semi-fadeOutUpBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.semi-fadeOutUpBig {
    animation-name: semi-fadeOutUpBig;
}
