// font-size line-height绑定
@mixin font-size-small {
    font-size: $font-size-small;
    line-height: 16px;
    font-family: $font-family-regular;
}

@mixin font-size-regular {
    font-size: $font-size-regular;
    line-height: 20px;
    font-family: $font-family-regular;
}

@mixin font-size-header-6 {
    font-size: $font-size-header-6;
    line-height: 22px;
    font-family: $font-family-regular;
}

@mixin font-size-header-5 {
    font-size: $font-size-header-5;
    line-height: 24px;
    font-family: $font-family-regular;
}

@mixin font-size-header-4 {
    font-size: $font-size-header-4;
    line-height: 28px;
    font-family: $font-family-regular;
}

@mixin font-size-header-3 {
    font-size: $font-size-header-3;
    line-height: 32px;
    font-family: $font-family-regular;
}

@mixin font-size-header-2 {
    font-size: $font-size-header-2;
    line-height: 40px;
    font-family: $font-family-regular;
}

@mixin font-size-header-1 {
    font-size: $font-size-header-1;
    line-height: 44px;
    font-family: $font-family-regular;
}
