.macBookPro2 {
    padding: 120px 120px 0;
    background-color: rgb(22 22 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -167px;
    position: relative;
}

.frame14294 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 187px;
}

.frame4151 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 16px;
}

.semiPro {
    // width: 321px;
    font-size: 32px;
    font-family: 'Inter';
    color: #FFF;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -1.28px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0em;
}

.title_en {
    font-weight: 700;
}

.text {
    min-width: 477px;
    margin: 0 0 32px;
    font-size: 18px;
    color: var(--semi-color-white);
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
}

.text_4c571d3f {
    font-size: 18px;
    font-family: 'PingFang SC';
    color: #FFF;
    line-height: 32px;
    font-weight: 400;
}

.text_a65a6883 {
    font-size: 18px;
    font-family: 'Inter';
    color: var(--semi-color-white);
    line-height: 32px;
    font-weight: 400;
}

.buttonSecondarySolid {
    border-radius: 6px;
    padding: 12px 24px;
    background-color: rgba(var(--semi-grey-8), 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.text_001dc6a1 {
    min-width: 48px;
    font-size: 16px;
    font-family: 'PingFang SC';
    color: var(--semi-color-tertiary-hover);
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    vertical-align: top;
}

.extraLarge {
    height: 48px;
    padding: 12px 24px;
    border-radius: 6px;
    background-color: var(--semi-color-primary);

    :global(.semi-button-content) {
        font-size: 16px;
        line-height: 22px;
    }
}

.autoWrapper {
    position: relative;
    line-height: 0;
}

.syntaxHighlighter {
    position: absolute;
    left: 310px;
    top: -117px;
    width: 579px;
    height: 398px;
}

.rectangle1080 {
    background: linear-gradient(180deg, #1c1f2300 0%, rgb(22 22 26) 100%);
    position: absolute;
    right: -120px;
    top: -117px;
    align-self: flex-start;
    width: 1440px;
    height: 117px;
}

.frame14295 {
    padding: 0 222px 0 221px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
    overflow: hidden;
}

.chromeStandart {
    position: absolute;
    left: -221px;
    top: 120px;
    width: 839px;
    height: 334px;
}

.chromeStandart_2167fd7e {
    position: absolute;
    right: -222px;
    top: 120px;
    width: 839px;
    height: 334px;
}

.chromeStandart_07210c83 {
    margin-top: 30px;
    position: relative;
    height: 410px;
    box-sizing: content-box;
    border-radius: 12px 12px 0px 0px;
}
