.compare {
    position: relative;
    width: 100%;

    .image-no-border {
        margin: 0 !important;
    }
    img {
        max-width: 100%;
        // height: auto;
        min-height: 725px;
        margin: 0.2em 0;
    }
    .clip {
        z-index: 998;
        position: relative;
    }
    .handle {
        height: 100%;
        background: var(--semi-color-primary);
        width: 4px;
        position: relative;
    }
    .knob {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        background: var(--semi-color-primary);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-45%, -50%);
        box-shadow: var(--semi-shadow-elevated);
    }
    .knob .semi-icons {
        transform: rotate(-45deg);
    }
    .absolute {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .a {
        z-index: 999;
        height: 100%;
    }
}








