.frame14368 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 54px 0;
    border-bottom: 1px solid var(--semi-color-border);
}

.frame14369 {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin: 54px 0px 0px;
}

.text_ff23e7f4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--semi-color-disabled-text);
}

.group720 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--semi-color-text-0);
}

.logo_lark {
    height: 32px;
    width: 40.25px;
    margin-right: 15px;
}

.logo_bytehi {
    width: 36px;
    height: 36px;
    margin: 0 9px 0 0;
}

.image42 {
    width: 155px;
    height: 36px;
}

.frame4144 {
    padding: 4px 0 3.2px .68px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_sso {
    width: 28.5px;
    height: 29px;
    margin: 0 10.770000000000003px 0 0;
}

.developer_11777484 {
    min-width: 138px;
    font-size: 19px;
    font-family: "Inter";
    color: #3370ffff;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: -.38px;
    text-align: left;
    vertical-align: top;
}

.hideInLight {
    display: none;
}

body[theme-mode="dark"] {

    .showInDark {
        display: block;
    }

    .hideInDark {
        display: none;
    }
}
