p {
    margin: 0;
}

.homePage {
    overflow-x: hidden;
    font-family: "Inter","PingFang SC";
}

.homeEnglish {

    p,
    span {
        font-family: 'Inter' !important;
    }

    *[data-locale=en-US] {
        font-weight: 700;
    }
}
