$animation_duration_sidebar_inner-show: 180ms; // 侧边栏打开-动画持续时间
$animation_function_sidebar_inner-show: cubic-bezier(0.25, 0.46, 0.45, 0.94); // 侧边栏打开-过渡曲线
$animation_delay_sidebar_inner-show: 0ms; // 侧边栏打开-延迟时间

$animation_duration_sidebar_inner-hide: 180ms; // 侧边栏关闭-动画持续时间
$animation_function_sidebar_inner-hide: cubic-bezier(0.25, 0.46, 0.45, 0.94); // 侧边栏关闭-过渡曲线
$animation_delay_sidebar_inner-hide: 0ms; // 侧边栏关闭-延迟时间