.aiChatInput-template {
    width: 100%;
    padding: 14px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .template-header {
        height: 40px;
        display: flex;
        flex-direction: row;
        column-gap: 8px;
    }

    .template-header-item {
        cursor: pointer;
        // border: 1px solid var(--semi-color-border);
        line-height: 22px;
        height: 32px;
        box-sizing: border-box;
        font-size: 14px;
        padding: 4px 16px;
        border-radius: 10px;
        color: var(--semi-color-text-2);
        background: var(--semi-color-bg-0);

        &-active {
            font-weight: 600;
            background: var(--semi-color-fill-0);
            color: var(--semi-color-text-0);
        }
    }

    .template-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 12px;
        flex-shrink: 1;
        overflow: scroll;
    }

    .template-content-item {
        // width: 200px;
        box-sizing: border-box;
        width: 30%;
        // flex-grow: 1;
        height: 120px;
        border-radius: 16px;
        background: var(--semi-color-white);
        border: 1px solid var(--semi-color-border);
        display: flex;
        flex-direction: column;
        padding: 16px 16px 0px 16px;
        row-gap: 8px;
        cursor: pointer;

        &:hover {
            background: var(--semi-color-fill-0);
        }
    }

    .template-content-item-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px; 
        color: var(--semi-color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
    }

    .template-content-item-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--semi-color-text-0);
    }

    .template-content-item-desc {
        font-size: 13px;
        font-weight: 400;
        color: var(--semi-color-text-1);
    }
}

// custom render top slot example
.customTopSlot {
    .topSlot {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4px;
    }

    .item {
        width: fit-content;
        flex-shrink: 0;
        border: 1px solid var(--semi-color-border);
        padding: 2px;
        border-radius: 6px;
        display: flex;
        column-gap: 4px;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;

        &-icon {
            height: 12px;
            color: var(--semi-color-text-1);
            display: flex;
            align-items: center;

            &-delete {
                display: none;
            }
        }

        &:hover {
            .item-icon-delete {
                display: inline;
            }

            .item-left {
                display: none;
            }
        }

        &-image {
            width: 12px;
            height: 12px;
            border-radius: 4px;
        }

         &-content {
            font-size: 12px;
            line-height: 16px;
        }   
    }
}

.aiChatInput-cascader-configure {
    border: 1px solid var(--semi-color-border);
    background: var(--semi-color-bg-0);
    border-radius: 9999px;
    font-weight: 600;

    .semi-cascader-selection {
        color: var(--semi-color-text-1);
    }

    &.semi-cascader:hover,
    &.semi-cascader-focus:hover,
    &.semi-cascader:focus:not(.semi-cascader-disabled) {
        border-color: var(--semi-color-border);
        background-color:  var(--semi-color-bg-0);
    }
}

.aiChatInput-radio {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;

    .aiChatInput-radio-item {
        padding: 2px 4px;
        border: 1px solid var(--semi-color-border);
        cursor: pointer;
        border-radius: 4px;
        text-transform: capitalize;

        &:hover {
            background: var(--semi-color-fill-0);
        }

        &:active {
            background: var(--semi-color-fill-1);
        }

        &-selected, &-selected:hover, &-selected:active {
            background: var(--semi-color-primary-light-default);
        }
    }
}








