.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 120px 120px 0;
}

.text_008e1ad6 {
    font-size: 18px;
    color: var(--semi-color-text-0);
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    margin-top: 16px;
}

.data {
    display: flex;
    align-items: flex-start;
    column-gap: 120px;
    margin-top: 48px;
}

.descriptionVerticalL {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 180px;
}

.key {
    flex-shrink: 0;
    font-family: "Inter","PingFang SC";
    font-size: 14px;
    color: var(--semi-color-text-2);
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.value {
    flex-shrink: 0;
    font-family: "Inter";
    font-size: 32px;
    color: rgba(var(--semi-violet-5), 1);
    line-height: 44px;
    letter-spacing: -1.28px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_2 {
    margin-top: 64px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--semi-color-text-0);
}

.frame4571 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.title {
    min-width: 321px;
    font-size: 32px;
    color: var(--semi-color-text-0);
    line-height: 44px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
}

.title_en {
    font-weight: 700;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 80px;
}

.frame4569 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px 0 0;
}

.testimonial1 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 32px;
}

.mColorCN {
    width: 48px;
    height: 48px;
    margin: 0 0 24px;
}

.quoteMark {
    margin: 0 16px 0 0;
}

.feedbackPersonDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback {
    width: 248px;
    margin: 0 0 24px;
    font-size: 16px;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.feedback_3a905c13 {
    font-size: 16px;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
}


.personDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.aMengzhou {
    min-width: 113px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_18f690df {
    min-width: 92px;
    font-size: 14px;
    font-family: "Inter";
    color: var(--semi-color-disabled-text);
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
}

.mColorCN_beba3295 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 24px;
}

.autoWrapper_4fa00029 {
    position: relative;
}

.text_b1d6cd66 {
    position: absolute;
    left: 17px;
    top: 12px;
    min-width: 14px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.aChangyi {
    min-width: 92px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.testimonial7 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text_11043f46 {
    position: absolute;
    left: 16px;
    top: 12px;
    min-width: 17px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.feedback_daa8760d {
    width: 248px;
    margin: 0 0 24px;
    font-size: 16px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.aMiaomiao {
    min-width: 105px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_f8842908 {
    position: absolute;
    left: 18px;
    top: 12px;
    min-width: 13px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.personDetails_53392045 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 248px;
}

.aYinfeng {
    min-width: 88px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_05913fb1 {
    min-width: 120px;
    font-size: 14px;
    font-family: "Inter";
    color: var(--semi-color-disabled-text);
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
}

.aJingyu {
    min-width: 79px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.testimonial3 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 36px;
}

.aYucang {
    min-width: 86px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.aGuangye {
    min-width: 98px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.aBaifu {
    min-width: 64px;
    font-size: 18px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.group3736 {
    position: relative;
    height: 41px;
}

.group3736dark {
    display: none;
    position: relative;
    height: 41px;
}

body[theme-mode='dark'] {
    .group3736 {
        display: none;
    }

    .group3736dark {
        display: inline;
    }
}
