.frame4571 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.frame4570 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 72px;
}

.text {
    min-width: 321px;
    margin: 0 0 16px;
    font-size: 32px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 44px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.text_cd35ea6d {
    min-width: 453px;
    margin: 0 0 32px;
    font-size: 18px;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.text_8e955bee {
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
}

.text_70c95f84 {
    font-size: 18px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
}

.group3737 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.extraLarge {
    height: 48px;
    padding: 12px 24px;
    border-radius: 6px;
    margin-right: 16px;

    :global(.semi-button-content) {
        font-size: 16px;
        line-height: 22px;
    }
}

.buttonSecondarySolid_4427b030 {
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);
    padding: 11px 23px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--semi-color-fill-0);
    }
}

.semiIconsGithubLogo {
    margin: 0 8px 0 0;
}

.text_bff7eaeb {
    min-width: 52px;
    margin-left: 9px;
    font-size: 16px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -.32px;
    text-align: left;
    vertical-align: top;
}

.frame4569 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px 0 0;
}

.testimonial1 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 32px;
}

.mColorCN {
    width: 48px;
    height: 48px;
    margin: 0 0 24px;
}

.quoteMark {
    margin: 0 16px 0 0;
}

.feedbackPersonDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback {
    width: 248px;
    margin: 0 0 24px;
    font-size: 16px;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.feedback_3a905c13 {
    font-size: 16px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
}

.feedback_c8d9f421 {
    font-size: 16px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
}

.personDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.aMengzhou {
    min-width: 113px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_18f690df {
    min-width: 92px;
    font-size: 14px;
    font-family: Inter;
    color: var(--semi-color-disabled-text);
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
}

.mColorCN_beba3295 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 24px;
}

.autoWrapper_4fa00029 {
    position: relative;
}

.text_b1d6cd66 {
    position: absolute;
    left: 17px;
    top: 12px;
    min-width: 14px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.aChangyi {
    min-width: 92px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.testimonial7 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text_11043f46 {
    position: absolute;
    left: 16px;
    top: 12px;
    min-width: 17px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.feedback_daa8760d {
    width: 248px;
    margin: 0 0 24px;
    font-size: 16px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.aMiaomiao {
    min-width: 105px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_f8842908 {
    position: absolute;
    left: 18px;
    top: 12px;
    min-width: 13px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-white);
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -.54px;
    text-align: center;
    vertical-align: top;
}

.personDetails_53392045 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 248px;
}

.aYinfeng {
    min-width: 88px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.text_05913fb1 {
    min-width: 120px;
    font-size: 14px;
    font-family: Inter;
    color: var(--semi-color-disabled-text);
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
}

.aJingyu {
    min-width: 79px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.testimonial3 {
    border-radius: 12px;
    border: 1px solid var(--semi-color-border);
    padding: 31px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 36px;
}

.aYucang {
    min-width: 86px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.aGuangye {
    min-width: 98px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}

.aBaifu {
    min-width: 64px;
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}
