$spacing-empty_content_vertical-marginTop: 24px; // 垂直布局内容顶部外边距
$spacing-empty_content_horizontal-marginLeft: 32px; // 水平布局内容左侧外边距
$spacing-empty_title-marginTop: 16px; // 标题内容顶部外边距
$spacing-empty_footer-marginTop: 24px; // 操作 footer 顶部外边距

$font-empty_title-fontWeight: 600; // 标题字重

$color-empty_description-text-default: var(--semi-color-text-1); // 描述文字颜色