$resizing-border: 2px solid blue;

#components-table-demo-resizable-column {
    padding: 20px;

    .resizing {
        border-right: 2px solid blue;
    }
}

#components-table-demo-resizable-column .react-resizable {
    position: relative;
    background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;

    &:hover {
        .react-resizable {
            border-right: 2px solid blue;
        }
    }
}
