.frame14293 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 111px;
}

.frame14291 {
    padding: 9px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autoWrapper {
    position: relative;
    margin: 0 0 16px;
}

.tag {
    border-radius: 3px;
    padding: 4px 8px;
    background-color: var(--semi-color-black);
    position: absolute;
    left: 243px;
    top: -9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    min-width: 41px;
    font-size: 16px;
    font-family: "Inter";
    color: var(--semi-color-white);
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -.32px;
    text-align: left;
    vertical-align: top;
}

.semiDSM {
    position: relative;
    width: 321px;
    font-size: 32px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    vertical-align: middle;
}

.title_en {
    font-weight: 700;
}

.text_86d8f999 {
    min-width: 396px;
    margin: 0 0 32px;
    font-size: 18px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.buttonSecondarySolid {
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);
    padding: 11px 23px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--semi-color-fill-0);
    }
}

.text_8f6c2dc2 {
    min-width: 64px;
    font-size: 16px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    vertical-align: top;
}

.frame4160 {
    width: 1282px;
    height: 783px;
    margin-top: -50px;
}
