$z-avatar-default: 100; // 头像 z-index
// color
$color-avatar_default-border-default: var(--semi-color-bg-1); // 头像描边颜色
$color-avatar_more_default-bg-default: rgba(var(--semi-grey-5), 1); // 「更多」描边颜色


$width-avatar_extra_extra_small: 20px; // 头像尺寸 - 极小
$font-avatar_extra_extra_small-size: 10px; // 文本字号 - 极小
$font-avatar_extra_extra_small-lineHeight: 15px; // 文本行高 - 极小

$width-avatar_extra_small: 24px; // 头像尺寸 - 超小
$font-avatar_extra_small-size: 10px; // 文本字号 - 超小
$font-avatar_extra_small-lineHeight: 15px; // 文本行高 - 超小

$width-avatar_small: 32px; // 头像尺寸 - 小
$width-avatar_default: 40px; // 头像尺寸 - 默认
$width-avatar_medium: 48px; // 头像尺寸 - 中
$width-avatar_large: 72px; // 头像尺寸 - 大

$width-avatar_extra_large: 128px; // 头像尺寸 - 超大
$font-avatar_extra_large-size: 64px; // 文本字号 - 超大
$font-avatar_extra_large-lineHeight: 77px; // 文本行高 - 超大

$radius-avatar: var(--semi-border-radius-circle); // 头像圆角

$width-avatar_extra_large-border: 3px; // 头像描边尺寸 - 超大
$spacing-avatar_extra_large-marginLeft: -32px; // 头像左侧外边距 - 超大

$width-avatar_large-border: 3px; // 头像描边尺寸 - 大
$spacing-avatar_large-marginLeft: -18px; // 头像左侧外边距 - 大

$width-avatar_medium-border: 2px; // 头像描边尺寸 - 中
$spacing-avatar_medium-marginLeft: -12px; // 头像左侧外边距 - 中

$width-avatar_default-border: 2px; // 头像描边尺寸 - 默认
$spacing-avatar_default-marginLeft: -12px; // 头像左侧外边距 - 默认

$width-avatar_small-border: 2px; // 头像描边尺寸 - 小
$spacing-avatar_small-marginLeft: -12px; // 头像左侧外边距 - 小

$width-avatar_extra_small-border: 1px; // 头像描边尺寸 - 超小
$spacing-avatar_extra_small-marginLeft: -10px; // 头像左侧外边距 - 超小

$width-avatar_extra_extra_small-border: 1px; // 头像描边尺寸 - 极小
$spacing-avatar_extra_extra_small-marginLeft: -4px; // 头像左侧外边距 - 极小
