$transition_duration-cascader_option-bg: var(--semi-transition_dulation-faster);//级联选项-背景色-动画持续时间
$transition_function-cascader_default-bg: var(--semi-transition_function-easeIn);//级联选项-背景色-过渡曲线
$transition_delay-cascader_default-bg: var(--semi-transition_delay-fastest);//级联选项-背景色-延迟时间

