$transition_duration-anchor_title-text: var(--semi-transition_dulation-faster);//锚点标题文字-文字-动画持续时间
$transition_function-anchor_title-text: var(--semi-transition_function-easeIn);//锚点标题文字-文字-过渡曲线
$transition_delay-anchor_title-text: var(--semi-transition_delay-fastest);//锚点标题文字-文字-延迟时间

