$module: #{$prefix}-base;

.#{$prefix}-light-scrollbar {
    // light scrollbar
    &, * {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
        }
    
        &::-webkit-scrollbar-corner {
            background-color: rgba(0, 0, 0, 0);
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: transparent;
            transition: all 1s;
        }
    
        &:hover::-webkit-scrollbar-thumb {
            background: var(--semi-color-fill-2);
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: var(--semi-color-fill-1);
        }
    }
}
