body.sb-show-main {
    position: relative;
    // width: 200px;
}

.demo {
    margin-top: 200px;
    margin-left: 200px;
    width: 600px;
    .top {
        margin-left: 100px;
    }
    .left {
        float: left;
        > div {
            // display: inline-block;
        }
    }
    .right {
        float: right;
        > div {
            // display: inline-block;
        }
    }
    .bottom {
        margin-top: 100px;
        margin-left: 100px;
    }
}

.adjust {
    height: 300px;
    overflow: scroll;
    display: flex;
    .wrapper {
        padding-top: 200px;
        height: 600px;
    }
}
.adjust2 {
    height: 200px;
    overflow: scroll;
    .wrapper2 {
        padding: 50px;
        height: 300px;
    }
}

.test {
    background: green;
}
