.components-transfer-demo-selected-item {
    .semi-icons-close {
        visibility: hidden;
        color: var(--semi-color-tertiary);
    }
    &:hover {
        .semi-icons-close {
            visibility: visible;
        }
    }
}

.components-transfer-demo-selected-item,
.components-transfer-demo-source-item {
    height: 52px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    &:hover {
        background-color: var(--semi-color-fill-0);
    }
    .info {
        margin-left: 8px;
        flex-grow: 1;
    }
    .name {
        font-size: 14px;
        line-height: 20px;
    }
    .email {
        font-size: 12px;
        line-height: 16px;
        color: var(--semi-color-text-2);
    }
}

.component-transfer-demo-custom-panel {
    .sp-font {
        color: rgba(var(--semi-grey-9), 1);
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }
    .empty {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .panel-item {
        width: 176px;
        height: 56px;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 8px 12px;
        flex-wrap: wrap;
        background-color: rgba(22, 24, 35, 0.03);
        p {
            margin: 0 12px;
            flex-basis: 100%;
        }
        .panel-item-remove {
            cursor: pointer;
            color: var(--semi-color-primary);
        }
    }
    .source-panel {
        width: 482px;
        height: 353px;
        border: 1px solid var(--semi-color-border);
        border-top: none;
        margin-right: 16px;

        .panel-list {
            overflow-y: auto;
            height: 202px;
            display: flex;
            margin-left: 12px;
            margin-right: 12px;
            flex-wrap: wrap;
        }
        .panel-controls {
            margin: 10px 12px;
            font-size: 12px;
            line-height: 20px;
            .semi-button {
                margin-left: 8px;
                font-size: 12px;
            }
        }
        .panel-item {
            margin-right: 8px;
        }
    }
    .selected-panel {
        width: 200px;
        height: 353px;
        .panel-main {
            overflow-y: auto;
            padding: 12px;
            border: 1px solid var(--semi-color-border);
            border-top: none;
            height: 315px;
            box-sizing: border-box;
        }
    }
    .panel-header {
        padding: 10px 12px;
        border: 1px solid rgba(22, 24, 35, 0.16);
        border-radius: 4px 4px 0 0;
        height: 38px;
        box-sizing: border-box;
        background-color: var(--semi-color-tertiary-light-default);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .clear {
            cursor: pointer;
            color: var(--semi-color-primary);
        }
    }
}
