.frame4574 {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frame22 {
    padding: 48px 0 0 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 16px 0 0;
}

.group21 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 80px;
}

.text {
    width: 321px;
    margin: 0 0 16px;
    font-size: 32px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 44px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
}

.text_00d74f5e {
    width: 438px;
    margin: 0 0 24px;
    font-size: 18px;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.text_70c95f84 {
    font-size: 18px;
    font-family: PingFang SC;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
}

.text_8e955bee {
    font-size: 18px;
    font-family: Inter;
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
}

.text_0aedd7ef {
    min-width: 80px;
    font-size: 20px;
    font-family: PingFang SC;
    color: var(--semi-color-primary);
    line-height: 32px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}

.frame {
    width: 632px;
    height: 384px;
    margin: -32px 0 0 -40px;
}

.frame23 {
    padding: 48px 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.group20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 163px 120px;
}

.figmaUIKit {
    min-width: 112px;
    font-size: 20px;
    font-family: Inter;
    color: var(--semi-color-primary);
    line-height: 32px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}

.frame4573 {
    width: 632px;
    height: 269px;
}
