@keyframes semi-slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.semi-slideOutLeft {
    animation-name: semi-slideOutLeft;
}
