@keyframes semi-slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.semi-slideOutDown {
    animation-name: semi-slideOutDown;
}
