//$semi-margin-primary:var(--semi-margin-primary_cssvar);
//$semi-margin-sec:var(--semi-margin-sec_cssvar);
//
//.test{
//  --semi-margin-primary_cssvar:5px;
//  --semi-margin-sec_cssvar:15px;
//  .sss{
//    margin: xxxxx rgba(1,1,1,1) xxx cubic-bezier(calc($a - ( $b + ( $x + $y ) + ( $x + $y) - $c)) $z,1,calc( 1 + $z ),1);
//  }
//}

//
//
//
//xxxxx xxx $a + $b
//
//xxxxx xxx $a + 1 + $b
//
//xxxxx  xxx  $a + $b + 1 xxxxx  $c + $6
//
//
//xxxxx xxx $a - ($b + ($x + $y)+ $c)
//
//xxxxx xxx  (1 + $a - (1 + $c))
//



.body{
  border: 1 - $a / $b solid red;
}





