.frame14296 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.group4218 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 56px;
}

.text {
    width: 321px;
    margin: 0 0 16px;
    font-size: 32px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 44px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0em;
}

.title_en {
    font-weight: 700;
}

.text_5f990524 {
    min-width: 450px;
    margin: 0 0 32px;
    font-size: 18px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}


.frame4150 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.frame4155 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.selectTrigger {
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);
    background-color: var(--semi-bg-2);
    padding: 7px 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 24px 0 0;
    cursor: pointer;

    &:hover {
        background-color: var(--semi-color-fill-0);
    }
}

.frame3059 {
    margin: 0 8px 0 0;
}

.value {
    min-width: 113px;
    font-size: 14px;
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.value_c28b964d {
    font-size: 14px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -.14px;
}

.value_79ae18fb {
    font-size: 14px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
}

.selectTrigger_eecab517 {
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);
    padding: 7px 11px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 24px 0 0;
    cursor: pointer;

    &:hover {
        background-color: var(--semi-color-fill-0);
    }
}

.value_ee5552b6 {
    min-width: 169px;
    font-size: 14px;
    font-family: "Inter";
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -.14px;
    text-align: left;
    vertical-align: top;
}

.frame3059_ecb94fa7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px 0 0;
}

.autoWrapper {
    position: relative;
}

.image42 {
    position: absolute;
    left: 7px;
    top: 4px;
    width: 16px;
    height: 21px;
}

.value_acee012f {
    min-width: 112px;
    font-size: 14px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.selectTrigger_042dad83 {
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);
    padding: 7px 11px;
    background-color: var(--semi-bg-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--semi-color-fill-0);
    }
}

.selected {
    border: 2px solid var(--semi-color-primary);
    padding: 6px 10px;
    background-color: var(--semi-color-primary-light-default);

    &:hover {
        background-color: var(--semi-color-primary-light-default);
    }
}

.value_2b63d90d {
    min-width: 84px;
    font-size: 14px;
    font-family: "PingFang SC";
    color: var(--semi-color-text-0);
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.chromeStandart {
    width: 1282px;
    height: 762px;
}

.demoWrapper {
    background: var(--semi-bg-2);
    border: 1px solid var(--semi-color-border);
    box-shadow: 0 8px 40px rgba(39, 47, 89, .12);
    border-radius: 6px;
}

.loadingSpin {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.imageWrapper {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid var(--semi-color-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF
}
