# This is a basic workflow to help you get started with Actions

name: test

on:
    push:
        branches: [main, release, test-code-coverage]
    pull_request:
        branches: [main, release]

    workflow_dispatch:

jobs:
    jest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
            - name: Run install
              run: npm i -g lerna@^6 && npm run bootstrap
            - name: Run Jest test
              run: npm run test:unit
