# This is a basic workflow to help you get started with Actions

name: test

on:
  push:
    branches: [ main, release ]
  pull_request:
    branches: [ main, release ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run install
        run: npm i -g lerna && npm run bootstrap

      - name: Run test
        run: npm run test:coverage
      - name: Run codecov
        run: npx codecov --token=${{ secrets.CODECOV_TOKEN }}
