.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 120px 120px 141px;
}

.title {
    font-size: 32px;
    color: var(--semi-color-text-0);
    line-height: 44px;
    letter-spacing: -1.28px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: 0em;
}

.title_en {
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    color: var(--semi-color-text-0);
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    margin-top: 16px;
}

.autoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1208px;
    height: 495px;
    margin: 48px 0px 0px 0px;

    :hover {
        .headline {
            color: var(--semi-color-primary);
        }
    }
}

.frame1312316425 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 29px;
    cursor: pointer;
    height: 495px;
    box-sizing: border-box;
}

.frame1312316426 {
    flex-shrink: 0;
    width: 588px;
    height: 398px;
}

.details {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
    overflow: hidden;
}

.headline {
    flex-shrink: 0;
    font-size: 20px;
    color: var(--semi-color-text-0);
    line-height: 28px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.description {
    flex-shrink: 0;
    min-width: 525px;
    font-size: 20px;
    color: var(--semi-color-text-2);
    line-height: 28px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}
